{% extends "base/index.html" %}

{% block "title" %}Vitrine Digital{% endblock %}

{% block "body" %}

    {% include "base/message.html" %}

    {% if stores %}
        {% if stores|length == 1 %}
            {% for store in stores %}
                <meta http-equiv="REFRESH" content="0;url={{ store.get_absolute_url }}">
            {% endfor %}
        {% else %}
            <div class="container py-1">
                <h2 class="text-shadow-1 ms-2">Escolha a loja que deseja visitar</h2>
    
                <div class="container">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 align-items-stretch g-4">
                        {% for store in stores %}
                            {% include "stores/store-cards.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}