{% extends "base/index.html" %}

{% block "title" %}Vitrine Digital{% endblock %}

{% block "body" %}

    <!-- Inclusion of Bootstrap alert messages -->
    {% include "base/message.html" %}
    
    <!-- Inclusion of Bootstrap carousel for showcasing highlights from participating stores -->
    <div class="container-fluid p-0">
        {% include "stores/store-carousel.html" %}
    </div>
    
    <!-- Information banner -->
    <div class="container-fluid d-flex justify-content-center bg-info-banner text-info-banner p-4 gap-3 border-top border-bottom border-2">
        <div class="d-flex align-items-center pt-1">
            <span class="material-symbols-rounded fs-1 text-shadow-1 m-0">explore</span>
        </div>
        
        <h4 class="display-4 m-0 fw-light text-shadow-1">Escolha o seu destino</h4>
    </div>
    
    <!-- Bootstrap cards to represent participating stores -->
    {% if stores %}
        {% if stores|length == 1 %}
            {% for store in stores %}
                <meta http-equiv="REFRESH" content="0;url={{ store.get_absolute_url }}">
            {% endfor %}
        {% else %}
            <div class="container-fluid p-4">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 align-items-stretch g-4">
                    {% for store in stores %}
                        {% include "stores/store-cards.html" %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}

    <!-- Newsletter subscription section  -->
    {% include "stores/store_newsletter.html" %}

{% endblock %}