{% extends "base/index.html" %}

{% load static %}

{% block "title" %}Vitrine Digital - desativar{% endblock %}

{% block "style" %}
    <link rel="stylesheet" type="text/css" href="{% static 'stores/css/store-stylesheet.css' %}">
{% endblock %}

{% block "body" %}
    <div class="container p-0">
        <div class="fs-2 fw-bold text-uppercase">{{ store.title_establishment }} - {{ store.cnpj }}</div>
        <div class="fs-5">
            <hr>
            <ul class="list-inline">
                <li class="list-inline-item"><a class="text-decoration-none fst-italic" href="{% url 'choose-store' %}">Home</a></li>
            </ul>
            <hr>
        </div>
    </div>
{% endblock %}

{% block "nav_items" %}
    <li class="nav-item"><a href="{% url 'choose-store' %}" class="nav-link" aria-current="page">Início</a></li>
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Vitrine</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Contatos</a></li>
    <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">Sobre</a></li>
{% endblock %}

{% block "social_media" %}
    <li class="mx-2"><a class="text-white fs-4" href="#"><i class="bi bi-twitter"></i></a></li>
    <li class="mx-2"><a class="text-white fs-4" href="#"><i class="bi bi-instagram"></i></a></li>
    <li class="mx-2"><a class="text-white fs-4" href="#"><i class="bi bi-facebook"></i></a></li>
    <li class="mx-2"><a class="text-white fs-4" href="#"><i class="bi bi-youtube"></i></a></li>
{% endblock %}