{% load static %}

<div class="container px-4 my-5">
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 flex-row-reverse align-items-center g-5">
        
        <div class="col">
            <img src="{% static 'stores/img/newsletter.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Imagem da Newsletter" loading="lazy">
        </div>
        
        <div class="col">
            <h1 class="display-5 fw-bold lh-1 mb-3">Assine nossa newsletter</h1>
            <p class="lead">Para ficar por dentro de todas as novidades e lançamentos, as melhores ofertas e promoções, assine nossa newsletter e receba no conforto de seu lar todas essas vantagens. Clique agora mesmo em inscrever-se!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{% url 'newsletter' %}" class="btn btn-primary btn-lg px-4 me-md-2" role="button">Inscrever-se</a>
            </div>
        </div>

    </div>
</div>