{% load static %}

{% for key, value in group_stores_images.items %}
    {% if key == store.group %}
        <div class="col">
            <a class="text-decoration-none" href="{% url 'showcase' slug=store.slug %}">
                <div id="store-card" class="card card-cover h-100 overflow-hidden text-primary text-shadow-1 rounded-5 shadow-lg" 
                    style="background-image: url('{% static value.0 %}');">
                    <div class="d-flex flex-column h-100 p-5 pb-3">
                        <h6 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ store.title_establishment }}</h6>
                        
                        <ul class="d-flex list-unstyled mt-auto flex-row-reverse">
                            <li class="d-flex align-items-center gap-1">
                                <span class="material-symbols-rounded">{{ value.1 }}</span>
                                <small>{{ store.group }}</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    {% endif %}
{% endfor %}