<div class="d-flex flex-grow-1 justify-content-center justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start justify-content-xxl-start align-items-center gap-2">
    <a href="{% url 'stores:choose-store' %}" class="text-white text-decoration-none lh-1">
        <span class="material-symbols-rounded fs-2">shopping_basket</span>
    </a>

    <small class="text-white text-center">Copyright &copy; 2022 Univesp, Projeto Integrador em Computação III.</small>
</div>