{% load static %}

<div class="container-fluid">
    <div class="gridNavHeader">
        <div class="gridToggler">
            <div class="d-flex align-items-center justify-content-center h-100 v-100">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
                    aria-controls="navbarMain" aria-expanded="false" aria-label="Alternar de navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <div class="gridBrand">
            <div class="gridBrand__justity d-flex align-items-center h-100 v-100">
                <a href="{% url 'stores:choose-store' %}" class="navbar-brand d-flex" style="font-size: 28px !important;">
                    <img class="d-inline-block align-text-top" src="{% static "img/brand.png" %}" alt="Brand" width="110" height="46">
                    <span id="brand" class="ms-2 text-white d-none">Vitrine Digital</span>
                </a>
            </div>
        </div>

        <div class="gridCart">
            <div class="d-flex align-items-center justify-content-center h-100 v-100">
                <button class="navbar-toggler rounded-circle" type="button" data-bs-toggle="offcanvas" data-bs-target="#orderItems" 
                    aria-controls="orderItems">
                    <span class="material-symbols-rounded pt-1">shopping_cart</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Offcanvas Bootstrap - Order Items -->
<div class="offcanvas offcanvas-end bg-header" tabindex="-1" id="orderItems" aria-labelledby="orderItemsLabel">

    <div class="offcanvas-header">
        <h6 class="offcanvas-title display-6" id="orderItemsLabel">Itens do pedido</h6>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <hr class="m-0 mx-2">

    <div class="offcanvas-body">
        <img src="{% static 'img/under-construction.png' %}" class="w-100 mb-5" alt="Em construção">
        <p>Desculpe-nos mas está funcionalidade ainda esta em construção!</p>
        <p>Estamos trabalhando duro para melhor atendê-los, logo logo, estas e outras funcionalidades estaram a disposição!</p>
        <p class="text-center fw-bold">Agradecemos sua preferência e compreesão.</p>
    </div>
</div>