{% extends "base/index.html" %}

{% block "title" %}Vitrine Digital{% endblock %}

{% block "body" %}

    <!-- Inclusion of Bootstrap alert messages -->
    {% include "base/message.html" %}

    <!-- Inclusion of Bootstrap carousel for showcasing highlights from participating stores -->
    <div class="container-fluid p-0">
        {% include "showcase/showcase-carousel.html" %}
    </div>

{% endblock %}

{% block "nav_items" %}
    <li class="nav-item"><a href="{% url 'choose-store' %}" class="nav-link" aria-current="page">Início</a></li>
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Vitrine</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Contatos</a></li>
    <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">Sobre</a></li>
{% endblock %}

{% block "social_media" %}
    <li class="mx-2"><a class="text-white fs-4" href="#"><i class="bi bi-twitter"></i></a></li>
    <li class="mx-2"><a class="text-white fs-4" href="#"><i class="bi bi-instagram"></i></a></li>
    <li class="mx-2"><a class="text-white fs-4" href="#"><i class="bi bi-facebook"></i></a></li>
    <li class="mx-2"><a class="text-white fs-4" href="#"><i class="bi bi-youtube"></i></a></li>
{% endblock %}