{% extends "base/index.html" %}

{% load static %} {% load set_product_featured %}

{% block "style" %}
    <link rel="stylesheet" type="text/css" href="{% static 'showcase/css/showcase-stylesheet.css' %}">
{% endblock %}

{% block "title" %}Vitrine Digital{% endblock %}

{% block "nav_items" %}
    <li class="nav-item"><a href="{% url 'stores:choose-store' %}" class="nav-link" aria-current="page">Início</a></li>
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Vitrine</a></li>
    {% comment %} <li class="nav-item"><a href="#" class="nav-link">Login</a></li> {% endcomment %}
    <li class="nav-item"><a href="#" class="nav-link">Contatos</a></li>
    <li class="nav-item"><a href="{% url 'about:about' %}" class="nav-link">Sobre</a></li>
{% endblock %}

{% block "body" %}
    <!-- Inclusion of Bootstrap alert messages -->
    {% include "base/message.html" %}

    {% if store_products %}
        <!-- Added Bootstrap carousel to show selected store highlights -->
        {% if store_products|set_product_featured %}
            <section class="container-fluid p-0" title="showcase-carousel">
                {% include "showcase/showcase-carousel.html" %}
            </section>
        {% endif %}

        <section class="container p-0 my-4" title="showcase-products-card">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 align-items-stretch g-5">
                {% for product in store_products %}
                    {% include "showcase/showcase-product-card.html" %}
                {% endfor %}
            </div>
        </section>
    {% endif %}

    <!-- Modal Details -->
    {% include "showcase/showcase-product-modal-details.html" %}
{% endblock %}

{% block "social_media" %}
    {% for item in store.social_networks.all %}
        <li class="mx-2"><a class="text-white fs-4" target="_blank" rel="noopener noreferrer" href="{{ item.url }}"><i class="bi bi-{{ item.media|lower }}"></i></a></li>
    {% endfor %}
{% endblock %}

{% block "script" %}
    <script src="{% static 'js/modal.alert.js' %}"></script>
    <script src="{% static 'showcase/js/showcase-script.js' %}"></script>
{% endblock %}