{% load static %}

<div id="carouselShowcase" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselShowcase" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#carouselShowcase" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselShowcase" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="{% static 'img/load-picture.png' %}" class="d-block w-100" alt="Imagem do carrossel - slide 1">
            <div class="carousel-caption d-none d-md-block text-shadow-1">
                <h5 class="display-4 text-uppercase fw-bold opacity-25">{{ store.title_establishment }}</h5>
                <!-- <p class="opacity-25">Aqui será apresentado um destaque da loja participante acima.</p> -->
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img/load-picture.png' %}" class="d-block w-100" alt="Imagem do carrossel - slide 2">
            <div class="carousel-caption d-none d-md-block text-shadow-1">
                <h5 class="display-4 text-uppercase fw-bold opacity-25">{{ store.title_establishment }}</h5>
                <!-- <p class="opacity-25">Aqui será apresentado um destaque da loja participante acima.</p> -->
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img/load-picture.png' %}" class="d-block w-100" alt="Imagem do carrossel - slide 3">
            <div class="carousel-caption d-none d-md-block text-shadow-1">
                <h5 class="display-4 text-uppercase fw-bold opacity-25">{{ store.title_establishment }}</h5>
                <!-- <p class="opacity-25">Aqui será apresentado um destaque da loja participante acima.</p> -->
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselShowcase" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselShowcase" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>