<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Custom cards</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill" />
                            </svg>
                            <small>Earth</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3" />
                            </svg>
                            <small>3d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines
                    </h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill" />
                            </svg>
                            <small>Pakistan</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3" />
                            </svg>
                            <small>4d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill" />
                            </svg>
                            <small>California</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3" />
                            </svg>
                            <small>5d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



{% block 'body' %}
    <div class="row row-cols-sm-2 g-2">
        <!-- Bootstrap Card -->
        {% for product in products %}
        <div class="col-md-3">
            <div class="d-flex h-100">
                {% if product.promotion %}
                <span id="FlagPromotion" class="bg-warning border border-end-0 border-dark">Promoção</span>
                <div class="card card-product text-center border-dark h-100">
                    <img src="{{ product.image.url }}" class="card-img-top card-img-flag" alt="Image Product Card">
                {% else %}
                <div class="card text-center border-dark h-100">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="Image Product Card">
                {% endif %}
                    <div class="card-body">
                        <div class="d-flex flex-column h-100">
                            <div class="flex-grow-1 h-100"><h5 class="card-title ">{{ product.name }}</h5></div>
                            <h3 class="card-title">R$ {{ product.value }}</h3>
                            <button type="button" class="btn btn-primary btn-border" data-bs-toggle="modal"
                                            data-bs-target="#learnMoreModal"
                                            data-bs-whatever-name="{{ product.name }}"
                                            data-bs-whatever-img="{{ product.image.url }}"
                                            data-bs-whatever-description="{{ product.description }}">Saiba mais
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Modal Dialog Learn More -->
    <div class="modal fade" id="learnMoreModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header bg-light-gray">
            <h5 class="modal-title">Message</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
                    <div class="d-sm-flex">
                        <div class="d-flex flex-sm-shrink-0 align-items-center justify-content-center">
                            <img src="#" alt="Miniatura do Produto" width="150" height="150" class="d-inline-block"
                                    style="border-radius:50%; display:block; margin-left:auto; margin-right:auto">
                        </div>
                        <div class="flex-sm-grow-1">
                            <h6 class="d-inline-block ps-3">Message</h6>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>

    <!-- Modal Dialog Learn More - Javascript -->
    <script>
        var learnMoreModal = document.getElementById('learnMoreModal')

        learnMoreModal.addEventListener('show.bs.modal', function (event) {
            var title = event.relatedTarget.getAttribute('data-bs-whatever-name')
            var img = event.relatedTarget.getAttribute('data-bs-whatever-img')
            var body = event.relatedTarget.getAttribute('data-bs-whatever-description')

            if (!body)
                body = 'Infelizmente nenhuma descrição foi informada para o item selecionado!!!'

            var modalTitle = learnMoreModal.querySelector('.modal-title')
            modalTitle.textContent = title

            var modalBodyImage = learnMoreModal.querySelector('.modal-body img')
            modalBodyImage.src = img

            var modalBodyContent = learnMoreModal.querySelector('.modal-body h6')
            modalBodyContent.textContent = body
        })
    </script>
{% endblock %}
