{% extends "base/index.html" %}

{% block "title" %}Sobre{% endblock %}

{% block "body" %}
	<div class="container-fluid p-0 bg-dark text-white">
		<br>
		<h1 style="text-align: center;">Quem somos nós</h1>
		<br>
		<p style="text-align: justify;">
				No início de 2020, o novo coronavírus espalhou-se sobre o mundo inteiro, gerando uma pandemia sem precedentes.
				Tal acontecimento obrigou todos os países a implantarem em seus territórios estado de quarentena, a fim de minimizar o contágio e,
				consequentemente, os óbitos por COVID-19. Devido as variantes, tal situação praticamente se estende pelo ano seguinte.</p>
		<p style="text-align: justify;">Por outro lado, os pequenos e médios comerciantes, cuja maioria não possui meios digitais viáveis para a
				realização de seus negócios, tiveram um prejuízo inigualável, afetando seriamente suas economias e a do país como um todo. Além disso,
				os mesmos perderam cada vez mais espaço para os grandes comerciantes, que possuem seus próprios sites de e-commerce.</p>
		<p style="text-align: justify;">Então, no segundo semestre de 2021, um grupo de sete alunos do polo de Lorena da UNIVESP, seriamente preocupados
				com a situação dos comerciantes de sua região, condoendo-se deles, decidem auxiliá-los com a criação do site Varejo Digital, onde tais
				comerciantes podem divulgar suas marcas, produtos e, assim, recuperarem sua economia. São eles: Adriana, João Paulo, Leilane, Luiz
				Henrique e Wesley.</p>
		<br>
	</div>
{% endblock %}