@charset "UTF-8";

.product-card {
    transition: all 0.3s ease;
}

.product-card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#carouselShowcase .carousel-inner > .carousel-item > img {
    height: 36rem; 
}

#carouselDetailsModal .carousel-inner .carousel-item img {
  height: 20rem;
  object-fit: cover;
  object-position: center;
}

#detailsModal .modal-body p {
  font-size: medium;
}